<!doctype html>
<html>
<head>
	<title>Lineshell - Error</title>
	<meta name="description" content="Error! Something unexpected happened!">
	<% include header %>
</head>

<body style="padding-top: 70px;">

	<% include light-navbar %>

<div class="container">
	<div id="error-div" class="text-center container error big-title">
				<header>
						<h1 style="padding-top: 70px;"><i class="fa fa-chain-broken fa-1x"></i> ERROR</h1>
						<h3><p>Something unexpected happened :(</p> <br><p>We are really sorry for the inconvenience. Please try again. Thank you.</p></h3>
				</header>
	</div>
</div>
<% include footer %>
</body>
</html>
