<footer>

    <div class="container" style="color:#d0cdcd; padding-top: 30px;">
      <div style="float: right; text-align: right;">
        Powered with <i class="fa fa-heart"></i> by Nodejs, MongoDB and Docker<br />Sources available on <a href="https://github.com/TehesFR/Lineshell" target="_blank">Github</a>
      </div>
      <div style="float: left;">v1.3.5</div>
    </div>
</footer>
