<div class="bs-example">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="static/lineshell-logo.png" alt="logo" height="30" width="132"></a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li id="why"> <a href="#why-div"><span class="fa fa-code"></span> Why use it</a></li>
              <li id="features"> <a href="#features-div"><span class="fa fa-list"></span> Features</a></li>
              <li id="faq"><a href="https://blog.lineshell.io" target="_blank"><span class="fa fa-bookmark"></span> Blog</a></li>
            </ul>
        </div>
      </div>
    </nav>
</div>
